body {
    background-color: #f4f4f4;
    margin-top: 50px;
    font-family: 'Lato';
}

.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}
.corner-image-left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 100px;
}
.corner-image-right {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 100px;
}

#currentDateTime {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 2.2em; /* Opcional: solo para que sea un poco más grande y legible */
    background-color: rgba(0, 0, 0, 0.6); /* Opcional: un fondo para mejorar la legibilidad */
    color: white; /* Opcional: color de texto blanco */
    padding: 5px; /* Opcional: un poco de relleno alrededor del texto */
    border-radius: 5px; /* Opcional: bordes redondeados */
}